
body {
  background-image: linear-gradient(rgba(3, 14, 30, 0.6) 0%, rgb(7, 18, 45) 100%), url(./images/shutterstock_1531536005.f75acbc3.jpg);
  background-position: center center;
}

body .table_user {
  background: #030e1e;
  color: white;
  opacity: 0.5;
  border-radius: 12px;
}

body .table_user th {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff, 0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
}
